body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
  width: 4px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* цвет дорожки */
  border-radius: 25px;
}
*::-webkit-scrollbar-thumb {
  background-color: #b8e5ff; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 2px solid #b8e5ff; /* padding вокруг плашки */
}